body{
    background-color: rgb(243, 164, 132);
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chips-row{
    display: flex;
    gap: 10px;
}

.chip{
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chip-text{
    position: relative;
    z-index: 2;
}

.chip-background{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    border-radius: 20px;
}

.apple{
    background: red;
}

.banana{
    background: yellow;
}

.orange{
    background: orange;
}

.active{
    animation:  3s forwards;
}

@keyframes fill{
    0%{
        width:0;
    }
    100%{
        width: 100%;
    }
}