body{
    height: 100vh;
    background-color: var(--dark);
    color:var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}

.switch{
    position: relative;
    display: inline-block;
    top: 15px;
    width: 60px;
    height: 37px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

input:checked +.slider{
    background-color: var(#00a100);
}
input:focus +.slider{
    box-shadow: 0 0 1px var(#00a100);
}

input:checked +.slider:before{
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.slider.round{
    border-radius: 34px;

}

.slider.round:before{
    border-radius: 50%;
}