.flexm{
    display: flexbox;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-self: center;
    padding: 50px 50px 50px 50px;
    background-color: rgba(81, 21, 221, 0.747); 

}

.cards{
    margin-left: auto;
    margin-bottom: auto;
    background-color: rgba(81, 21, 221, 0.747); 
    border-style: inset;
    border-color: rgb(2, 14, 14);
    padding: 35px 25px;
    padding-top: 50px;
    margin-top: 45px;
    
}

.btn{
    color:rgba(0, 0, 0, 0.747); 
    border: none;
    background-color: rgba(81, 21, 221, 0.747); 

}

button,btn::after{
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
}
button::after{
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(40% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: (var(--move1));
    content: "Glitched";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

btn:hover::after{
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2,end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
    background-color: transparent;
    border: 3px solid rgb(0,255,216);


}
button:hover{
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover{
    background-color: transparent;
    border: 1px solid rgb(0,255,213);
    box-shadow: 0px 10px 10px -10px rgb(0,255,213);
}