/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 8, 48, 205);

    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 22, 38, 255);
    height: 80px;

}
div.right {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 23px;

}

div.left {

    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

div.left:hover {
    color: violet;
    font-size: 2rem;
}


div.right:hover {
    color: violet;
    font-size: 1rem;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
}
.grid-item dark{
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.grid-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    width: 100%;
    
}

.grid-item {
    background-color: #f4f4f4;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item a {
    display: flex;
    margin-bottom: 0px;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

.iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

#glitch{
    height: 80px;
}

/* For the hover effect */
.wrapper{
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.wrapper iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.wrapper:hover iframe{
    transform: scale(1.4);
    
}

.wrapper:hover .title{
    opacity: 1;

}
.title{
    opacity: 0.5;
    border-radius: 5px;
    background: rgba(219,217,217,0.568);
    padding: 20px;
    position: relative;
    color: rgb(179, 47, 47);
    bottom: 80px;
    left: 4px;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;
}

bg-yellow{
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px
}